<!DOCTYPE html>
<html>
<!-- This will display the title in the browser and css is used for the layout -->
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/Test.css">
</head>


<body>

<!-- This is the code to visualise the menu-->
<div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    <a href="/textminen">Textminen</a>
    <a href="/visualisatie">Visualisatie</a>
    <a href='/download'>Download</a>
</div>

<!-- Project summary -->
<p>Door de wereldwijde opwarming van de aarde en de hiermee samengaande droogte dreigt een wereldwijd tekort aan
    voedsel. Vele van de gewassen die geconsumeerd worden door mensen kunnen niet tegen deze droogte, waardoor oogsten
    op grote schaal mislukken. Het gevolg hiervan is enorme hongersnoden, zoals die in de Hoorn van Afrika in 2017. Het
    HAN BioCentre, een Nederlandse Biotechnologische onderzoeksinstelling, doet onderzoek naar mogelijke oplossingen
    voor dit probleem. Een mogelijke oplossing van dit probleem is het toepassen van genetische modificatie om de
    planten zo resistent te maken voor de droogte. Een groep stoffen die hierbij een sleutelrol spelen, zijn de
    zogenaamde “anthocyanen”. Antocyanen hebben diverse functies voor de plant. Allereerst helpen ze bij de
    voortplanting, aangezien het de kleur van vele bloemen veroorzaakt en deze kleur speelt een belangrijke rol bij het
    aantrekken van insecten. Daarnaast dienen ze als anti-oxidanten, waardoor vrije radicalen worden weggevangen. Verder
    zorgt het ervoor dat de plant tegen de schadelijke effecten van UV-straling wordt beschermd en vormen ze een
    bescherming tegen herbivore insecten. Tenslotte zorgen ze voor een reactie tegen stress, en winterhardheid. De
    onderzoekers van het BioCentre zijn met name geïnteresseerd in de stressresponse, omdat droogte ook een vorm van
    stress oplevert voor planten (A. Czerednik, persoonlijke mededeling, 20 april 2017). </p>

<p>Het probleem waar het BioCentre tegenaan loopt bij dit onderzoek, is dat er over anthocyanen met betrekking tot de
    stressresponse bij planten weinig bekend is (A. Czerednik, persoonlijke mededeling, 20 april 2017). Om deze reden
    heeft Anna Czerednik, onderzoekster bij het BioCentre, de tweedejaars studenten Bio-informatica van de Hogeschool
    van Arnhem en Nijmegen om hulp gevraagd. Haar vraag aan de studenten is of de studenten kunnen onderzoeken of het
    mogelijk is om door middel van textmining alle abstracts in PubMed te doorzoeken (Proof of Concept). Hierbij zal
    gezocht worden naar verbanden die iets kunnen vertellen over de genen (en orthologen van deze genen) die betrokken
    zijn bij de productie van anthocyanen, welke planten überhaupt anthocyanen produceren en onder welke omstandigheden
    deze planten dat dan doen. Deze verbanden zullen dan gevisualiseerd worden in een netwerk en worden opgeslagen in
    een database. De kennis die met het textminen verkregen wordt kan dan ingezet worden om in een laboratorium planten
    te kweken onder specifieke omstandigheden en zo een bijdrage te kunnen leveren aan het resistent maken van
    voedingsgewassen tegen droogte.</p>

<p>Deze website is voor Anna Czerednik en haar studenten gemaakt, zodat zij zoekparameters op kunnen geven voor het
    ophalen van de abstracts uit PubMed en het textminen. Daarnaast biedt deze website de mogelijkheid om de gevonden
    resultaten te visualiseren in een Wordcloud. Tevens kan ervoor gekozen worden om de resultaten op te slaan in een
    textfile. Deze textfile kan gedownload worden om vervolgens bekeken en bewerkt te worden met Excel.</p>

</body>
</html>

